# Ignore Mac system files
.DS_store

# Ignore cmake debug files
/Archive/cmake-build-debug

# Igonre .idea folder files
/Archive/.idea/

# Ignore cmake debug files
/B18_Code/cmake-build-debug

# Igonre .idea folder files
/B18_Code/.idea

/B18_Code/XFS-Interface/cmake-build-debug

/B18_Code/XFS-Interface/.idea

/B18_Code/attribute_catalog
/B18_Code/relation_catalog
/B18_Code/block_allocation_map
/B18_Code/disk

